@media only screen and (min-width: 960px) {
    /* Style adjustments for viewports that meet the condition */
    .body{
	    width: 960px;
		margin: 0 auto;
    }
    $header-margin: 48px;
	$header-width: 965px + ($header-margin * 2);

	h1{font-size: 54px};
	h2{font-size: 36px};
	h3{font-size: 24px};
	.container{padding: 0;}
    #branding{
    	position: fixed;
    	.content{
    		width: $header-width;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: - $header-width / 2;
    		margin-left: - $header-width / 2;
    	}
    	.left{
    		position: absolute;
    		left: 0;
    		right: 50%;
    		height: 75px;
    		background: $blue;
    	}
    	.right{
    		background: #000;
    		position: absolute;
    		left: 50%;
    		right: 0;
    		height: 75px;
    	}
    }
	#site-title{
		width: 255px;
		height: 75px;
		float: left;
		background: $gray url("css/img/translator-logo.png") 25px 10px no-repeat;
		margin-left: $header-margin;
	}
	#Utility{
		position: absolute;
		top: 9px;
		right: 0;
		margin: 0;
		padding: 0;
		display: inline-block;
		ul{margin-top: -4px;
			float: right;}
		li{@include nav-inline;
			margin-right: 20px;}
		.search-container{
			margin-right: $header-margin;
		}
	}
	#menu-main-navigation{
		right: $header-margin;
	}

	#ContentTop,
	#ContentMid{
		position: relative;
		.container{
			@extend .body;
		}
	}
	$row-height: 75px;
    .translator-feed{		
		.preview,
		.blog-nav{
		height: $row-height;
			h1, h2{
				font-size: 36px;
				position: relative;
				top: -24px;
				display: inline;
				left: auto;
				right: auto;
				color: #fff;}
			&.even{
				h1, h2{
					left: auto;
					right: auto;}
			}
		}
    	
    	.plus{
    		display: inline-block;
    		float: none;
			width: $row-height;
			height: $row-height;
			margin: 0 0 0 32px;
			background: rgba(255, 255, 255, 0.6);
			&.left{
				float: none;
				margin: 0 32px 0 0;}
    	}
    	.article{
    		width: 790px;
    		margin: 0 auto;
    		padding: 33px 0 77px;
    		h1, h2{
    			margin-top: 0;
    		}
    	}

    }
    #fun-nav{
    	display: block;
    }

    h2.post-title{
		font-size: 48px !important;
		margin: 32px 0 30px;
	}
	h2{
		font-size: 40px;
		color: $gray;
	}

	.summary{
		width: 236px;
		float: left;
		img{display: none;}
		h2,h3{
			@extend .Open-Sans-Bold;
			color: black;
			font-size: 16px;
		}
	}
	.event .summary{
		width: 510px;
		float: left;
		img{display: block;}
	}
	.image .summary{
		font-size: 13px;
		line-height: 1.7em;
		text-align: justify;
	}
	.comments{
		clear: both;
	}
	
	
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}