/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* OPACITY */
/* TRANSITION */
/**
 * 1. translator-feed
 * 2. Calendar
 * 3. Blog
 */
.translator-feed .preview,
.translator-feed .blog-nav {
  height: 75px; }
  .translator-feed .preview h1, .translator-feed .preview h2,
  .translator-feed .blog-nav h1,
  .translator-feed .blog-nav h2 {
    font-size: 36px;
    position: relative;
    display: inline;
    top: 10px;
    left: auto;
    right: auto;
    margin-left: 32px; }
  .translator-feed .preview.even h1, .translator-feed .preview.even h2,
  .translator-feed .blog-nav.even h1,
  .translator-feed .blog-nav.even h2 {
    margin-right: 32px;
    left: auto;
    right: auto; }
.translator-feed .plus {
  display: inline-block;
  float: none;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.6); }
  .translator-feed .plus.left {
    float: none;
    margin: 0 32px 0 0; }
.translator-feed .article {
  width: 790px;
  margin: 0 auto;
  padding: 33px 0 50px; }
  .translator-feed .article h1, .translator-feed .article h2 {
    margin-top: 0; }

.event-card {
  float: right;
  padding-bottom: 10px;
  display: inline-block;
  width: 300px; }

#this-week-at .article {
  width: 945px; }

.row {
  clear: both; }

.row-1 {
  padding-right: 600px; }

.row-2 {
  padding-right: 300px; }

.event-info {
  float: right;
  width: 216px; }

.blog .article {
  float: right;
  margin: 0;
  padding: 30px 0;
  width: auto;
  max-width: 683px; }
.blog .nav {
  float: right;
  width: 100%;
  max-width: 683px; }
.blog #ContentTop,
.blog #ContentBottom {
  float: left;
  width: 64%; }
.blog #ContentTop .container,
.blog #ContentMid .container {
  width: auto; }
.blog #Sidebar {
  display: block;
  float: right;
  width: 36%; }
  .blog #Sidebar .widget-area {
    margin-top: 30px;
    margin-left: 52px;
    width: 228px; }

h1 {
  font-size: 54px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

.fancybox-wrap #ContentTop .container {
  padding: 30px 50px;
  width: auto; }
  .fancybox-wrap #ContentTop .container h2 {
    font-size: 18px; }

.container {
  padding: 0; }

#branding {
  position: fixed; }
  #branding .content {
    width: 1061px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -530.5px;
    margin-left: -530.5px; }
  #branding .left {
    position: absolute;
    left: 0;
    right: 50%;
    height: 75px;
    background: #008eb0; }
  #branding .right {
    background: #000;
    position: absolute;
    left: 50%;
    right: 0;
    height: 75px; }

#site-title {
  width: 255px;
  height: 75px;
  float: left;
  margin-left: 48px; }

#Utility {
  position: absolute;
  top: 9px;
  right: 0;
  margin: 0;
  padding: 0;
  display: inline-block; }
  #Utility ul {
    margin-top: -4px;
    float: right; }
  #Utility li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
    margin-right: 20px; }
  #Utility .search-container {
    margin-right: 48px; }

#menu-main-navigation {
  right: 48px; }

#ContentTop,
#ContentMid {
  position: relative; }
  #ContentTop .container,
  #ContentMid .container {
    width: 960px;
    margin: 0 auto; }

h2.post-title {
  font-size: 48px !important;
  margin: 32px 0 30px; }

h2 {
  font-size: 40px;
  color: #464646; }

.summary {
  width: 236px;
  padding-bottom: 30px;
  float: left; }
  .summary h2, .summary h3 {
    font-size: 16px; }

.no-gallery .summary,
.event .summary {
  width: 510px;
  float: left; }

.image .summary {
  font-size: 13px;
  line-height: 1.7em;
  text-align: justify; }

.comments {
  clear: both; }
