$title-height: 55px;
.calendar{
	width: 100%;
	@include box-sizing();
	polygon{fill: $yellow;}
	.title {
		position: relative;
		text-align: center;
		height: $title-height;
		background: $orange;
		h2{
			margin: 0;
			display: inline-block;
			position: relative;
			top: -20px;
			font-size: 18px;
			text-overflow: ellipsis;
			text-overflow: ellipsis;
  			white-space: nowrap;
  			color: #fff;
		}
	}
}
.arrow{
	display: inline-block;
	height: $title-height;
	width: 	$title-height;
	text-align: center;
	svg{
		width: 36%;
		height: 100%;}
}
.week{
	@extend .clearfix;
	clear: both;
}
.header{
	@extend .calendar-day;
	text-align: center;
	margin-bottom: 0;
}
.calendar-day{
	float: left;
	@include box-sizing();
	width: 14%;
	margin-right: 0.28%;
	margin-bottom: 10px;
	padding: 10px;
	overflow-y: hidden;
	p{
		font-size: 10px;
		color: $gray;
		display: block;
		line-height: 1.0em;
		margin: 0.3em 0 1.2em;
	}
	a{
		font-size: 10px;
		color: $gray;
		display: block;
		margin: 0.3em 0 1.2em;
		&:hover{
			color: $light-blue;
		}
		&:visited{
			color: $gray;
		}

	}
}
.day{
	background: lighten($yellow, 10%);
	@include box-shadow(1px, 1px, 2px);
	@extend .calendar-day;
	height: 170px;
	&.today{
		background: lighten($orange, 10%);
		&:hover{
			background: lighten($orange, 15%);
		}
	}
	&.weekend{
		background: lighten($light-blue, 10%);
		&:hover{
			background: lighten($light-blue, 15%);
		}
	}
	&.blank{
		opacity: 0.5;
		//background: lighten($yellow, 20%);
		//&:hover{ background: lighten($yellow, 20%); }
	}
	&:hover{ background: lighten($yellow, 15%); }
}

/*Homepage event card*/
.event-card{
	@extend .clearfix;
	.icon{
		float: left;
		width: 70px;
		margin-right: -70px;
		height: auto;
		border: 1px solid $mid-gray;
		box-sizing: border-box;
		.sharedaddy{
			display: none !important;
		}
	}
	p{
		font-size: 13px;
	}
	.content{
		float: left;
		margin-left: 80px;
	}
	h3{
		margin-top: 0;
		a{
			color: $gray;
			font-weight: normal;
			&:hover{color: $light-gray;}
		}
	}
}

.row {
	@extend .clearfix;
}

/*event info block for singles*/
.event-info{
	padding: 10px;
	background: $light-blue;
}
	h3.date{
		margin-top: 0;
		padding: 3px;
		color: #fff;
	}
	.time{
		margin: 0;
	}

@media only screen and (min-width: 960px) {
	$title-height: 75px;
	.calendar{
		.title{
			height: $title-height;
			h2{
				font-size: 36px;
				top: -24px;
			}
		}
	}
	.arrow{
		height: $title-height;
		width: 	$title-height;
		svg{
			width: 50%;
		}
	}
	/*Homepage event card*/
	.event-card{
		float: right;
		padding-bottom: 10px;
		display: inline-block;
		width: 300px;
	}
	#this-week-at .article{
		width: 945px;
	}
	.row{
		clear: both;
	}
	.row-1{
		padding-right: 600px;
	}
	.row-2{
		padding-right: 300px;
	}
	.event-info{
		float: right;
		width: 216px;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    	
}

