// nav
@mixin nav-inline{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
}

/* BACKGROUND GRADIENT */
@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999) {
    background-color: $startColor;
    background-image: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(top, $startColor, $endColor);
    background-image:    -moz-linear-gradient(top, $startColor, $endColor);
    background-image:     -ms-linear-gradient(top, $startColor, $endColor);
    background-image:      -o-linear-gradient(top, $startColor, $endColor);
    background-image:         linear-gradient(top, $startColor, $endColor);
    filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr=$startColor, EndColorStr=$endColor);
}

/* BACKGROUND SIZE */
@mixin background-size($width: 100%, $height: 100%) {
     -moz-background-size: $width $height;
  -webkit-background-size: $width $height;
          background-size: $width $height;
}


/* BORDER RADIUS */
@mixin border-radius($radius: 5px) {
    -moz-border-radius:    $radius;
    -webkit-border-radius: $radius;
    border-radius:         $radius;
}

@mixin border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
    -webkit-border-top-left-radius:     $topLeftRadius;
    -webkit-border-top-right-radius:    $topRightRadius;
    -webkit-border-bottom-right-radius: $bottomLeftRadius;
    -webkit-border-bottom-left-radius:  $bottomRightRadius;

    -moz-border-radius-topleft:     $topLeftRadius;
    -moz-border-radius-topright:    $topRightRadius;
    -moz-border-radius-bottomright: $bottomLeftRadius;
    -moz-border-radius-bottomleft:  $bottomRightRadius;

    border-top-left-radius:     $topLeftRadius;
    border-top-right-radius:    $topRightRadius;
    border-bottom-right-radius: $bottomLeftRadius;
    border-bottom-left-radius:  $bottomRightRadius;
}

/* BOX SHADOW */
@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    -webkit-box-shadow: $x $y $blur $color;
    -moz-box-shadow:    $x $y $blur $color;
    box-shadow:         $x $y $blur $color;
}
@mixin box-shadow-inset($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    -webkit-box-shadow: inset $x $y $blur $color;
    -moz-box-shadow:    inset $x $y $blur $color;
    box-shadow:         inset $x $y $blur $color;
}
@mixin box-shadow-none() {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

/* BOX SIZING */
@mixin box-sizing($type: border-box) {
    -webkit-box-sizing:   $type;
    -moz-box-sizing:      $type;
    box-sizing:           $type;
}

/* COLUMNS */
@mixin columns($count: 3, $gap: 10) {
    -webkit-column-count: $count;
    -moz-column-count:    $count;
    column-count:         $count;

    -webkit-column-gap:   $gap;
    -moz-column-gap:      $gap;
    column-gap:           $gap;
}

/* OPACITY */
@mixin opacity($opacity: 0.5) {
    filter:         alpha(opacity=($opacity * 100));
    -ms-filter:     "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) + ")";
    -moz-opacity:   $opacity;
    -khtml-opacity: $opacity;
    opacity:        $opacity;
}

/* TRANSITION */
@mixin transition($what: all, $length: 1s, $delay: 0, $easing: ease-in-out) {
    -moz-transition:    $what $length $delay $easing;
    -o-transition:      $what $length $delay $easing;
    -webkit-transition: $what $length $delay $easing;
    -ms-transition:     $what $length $delay $easing;
    transition:         $what $length $delay $easing;
}
@mixin transform-origin($x:50%, $y:50%){
    -ms-transform-origin:$x $y;
    -webkit-transform-origin:$x $y;
    -moz-transform-origin:$x $y;
    -o-transform-origin:$x $y; 
    transform-origin:$x $y;
}

@mixin scale($scale: 0.5){
  -moz-transform:scale($scale);
  -webkit-transform:scale($scale);
  transform:scale($scale)
}
@mixin rotate($rotate: 90deg){
    -ms-transform:rotate($rotate); 
    -moz-transform:rotate($rotate);
    -webkit-transform:rotate($rotate);
    transform:rotate($rotate)
}
