/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:4e3cd9b2f735eeca4815e57bff40589e$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(css/img/nav.png);}

.fun-nav_bubble {width:17px; height:17px; background-position: -2px -2px}
.fun-nav_flask {width:105px; height:179px; background-position: -21px -2px}
.fun-nav_folio-back {width:156px; height:140px; background-position: -128px -2px}
.fun-nav_folio-front {width:156px; height:140px; background-position: -286px -2px}
.fun-nav_lamp {width:189px; height:188px; background-position: -2px -183px}
.fun-nav_light-ray {width:188px; height:96px; background-position: -193px -183px}
